In [61]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import matplotlib.dates as md
import matplotlib.patches as mpatches

%matplotlib inline

In [62]:
fname = '2019-10-21_dotline.csv'

In [63]:
df = pd.read_csv(fname)

In [64]:
df.index = pd.to_datetime(df['time'])

In [65]:
df.drop(['time'], axis=1, inplace=True)

In [66]:
df.head()

                    signal feeder pump condition
time
2019-10-20 15:08:12   play    b''  NaN  R reward
2019-10-20 15:08:22    NaN    b''  NaN  R reward
2019-10-20 15:08:32   play    b''  NaN  R reward
2019-10-20 15:08:42    NaN    b''  NaN  R reward
2019-10-20 15:08:52   play    b''  NaN  R reward

In [67]:
df_feeder = df.groupby('feeder').count()

In [68]:
df_feeder

        signal  pump  condition
feeder
b''       3065     0       6233
b'1'         4    47        735
b'2'         2    81       1093

In [69]:
df_feeder.drop(['signal'], axis=1, inplace=True)

In [70]:
df_feeder = pd.DataFrame(df_feeder)

In [71]:
df_feeder # pump = pump+no pump activity, condition = all activity

        pump  condition
feeder
b''        0       6233
b'1'      47        735
b'2'      81       1093

In [72]:
df_sum =df_feeder.sum()

In [73]:
df_sum['pump']

128

In [74]:
df_feeder['choise proportion'] = df_feeder['pump']/df_sum['pump']

In [75]:
df_feeder

        pump  condition  choise proportion
feeder
b''        0       6233           0.000000
b'1'      47        735           0.367188
b'2'      81       1093           0.632812

In [76]:
df.head()

                    signal feeder pump condition
time
2019-10-20 15:08:12   play    b''  NaN  R reward
2019-10-20 15:08:22    NaN    b''  NaN  R reward
2019-10-20 15:08:32   play    b''  NaN  R reward
2019-10-20 15:08:42    NaN    b''  NaN  R reward
2019-10-20 15:08:52   play    b''  NaN  R reward

In [77]:
df['condition'].fillna('unknown', inplace=True)

In [78]:
# mask1 = df['feeder'] == "b'1'"

In [79]:
# mask1.head()

time
2019-10-20 15:08:12    False
2019-10-20 15:08:22    False
2019-10-20 15:08:32    False
2019-10-20 15:08:42    False
2019-10-20 15:08:52    False
Name: feeder, dtype: bool

In [80]:
cond_r.head()

In [81]:
cond_r.head()

time
2019-10-20 15:08:12    True
2019-10-20 15:08:22    True
2019-10-20 15:08:32    True
2019-10-20 15:08:42    True
2019-10-20 15:08:52    True
Name: condition, dtype: bool

In [84]:
df_r = df.copy()[cond_r]

In [85]:
df_r.head()

                    signal feeder pump condition
time
2019-10-20 15:08:12   play    b''  NaN  R reward
2019-10-20 15:08:22    NaN    b''  NaN  R reward
2019-10-20 15:08:32   play    b''  NaN  R reward
2019-10-20 15:08:42    NaN    b''  NaN  R reward
2019-10-20 15:08:52   play    b''  NaN  R reward

In [86]:
cond_l = df['condition'] == "L reward"

In [87]:
df_l = df.copy()[cond_l]

In [88]:
df_l.head()

                    signal feeder pump condition
time
2019-10-20 16:08:20   play    b''  NaN  L reward
2019-10-20 16:08:30    NaN    b''  NaN  L reward
2019-10-20 16:08:40   play    b''  NaN  L reward
2019-10-20 16:08:50    NaN    b''  NaN  L reward
2019-10-20 16:09:00   play    b''  NaN  L reward

In [93]:
df_feeder_lcond = df_l.groupby('feeder').count()
df_feeder_lcond.drop(['signal'], axis=1, inplace=True)
lcond_sum =df_feeder_lcond.sum()
df_feeder_lcond['choise proportion'] = df_feeder_lcond['pump']/lcond_sum['pump']

In [94]:
df_feeder_lcond

        pump  condition  choise proportion
feeder
b''        0       3088           0.000000
b'1'      29        431           0.408451
b'2'      42        559           0.591549

In [95]:
df_feeder_rcond = df_r.groupby('feeder').count()
df_feeder_rcond.drop(['signal'], axis=1, inplace=True)
rcond_sum =df_feeder_rcond.sum()
df_feeder_rcond['choise proportion'] = df_feeder_rcond['pump']/rcond_sum['pump']

In [96]:
df_feeder_rcond

        pump  condition  choise proportion
feeder
b''        0       3145           0.000000
b'1'      18        304           0.315789
b'2'      39        534           0.684211