In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import matplotlib.dates as md
import matplotlib.patches as mpatches

%matplotlib inline

In [22]:
fname = '2019-11-05_1.csv'

In [23]:
df = pd.read_csv(fname)

In [24]:
df.head()

            Unnamed: 0 signal bat_id_1  bat_id_2  feeder pump condition
0  05-11-2019-16:37:25    NaN      NaN       NaN  no_bat  NaN  L reward
1  05-11-2019-16:37:26   play      NaN       NaN  no_bat  NaN  L reward
2  05-11-2019-16:37:27    NaN      NaN       NaN  no_bat  NaN  L reward
3  05-11-2019-16:37:28    NaN      NaN       NaN  no_bat  NaN  L reward
4  05-11-2019-16:37:29    NaN      NaN       NaN  no_bat  NaN  L reward

In [33]:
df.rename(columns={'Unnamed: 0' :'time'}, inplace=True)

In [34]:
df.head()

                  time signal bat_id_1  bat_id_2  feeder pump condition
0  05-11-2019-16:37:25    NaN      NaN       NaN  no_bat  NaN  L reward
1  05-11-2019-16:37:26   play      NaN       NaN  no_bat  NaN  L reward
2  05-11-2019-16:37:27    NaN      NaN       NaN  no_bat  NaN  L reward
3  05-11-2019-16:37:28    NaN      NaN       NaN  no_bat  NaN  L reward
4  05-11-2019-16:37:29    NaN      NaN       NaN  no_bat  NaN  L reward

In [35]:
df.index = pd.to_datetime(df['time'])

In [36]:
df.drop(['time'], axis=1, inplace=True)

In [37]:
df.head()

                    signal bat_id_1  bat_id_2  feeder pump condition
time
2019-05-11 16:37:25    NaN      NaN       NaN  no_bat  NaN  L reward
2019-05-11 16:37:26   play      NaN       NaN  no_bat  NaN  L reward
2019-05-11 16:37:27    NaN      NaN       NaN  no_bat  NaN  L reward
2019-05-11 16:37:28    NaN      NaN       NaN  no_bat  NaN  L reward
2019-05-11 16:37:29    NaN      NaN       NaN  no_bat  NaN  L reward

In [38]:
df_feeder = df.groupby('feeder').count()

In [39]:
df_feeder

        signal  bat_id_1  bat_id_2  pump  condition
feeder
b'101'       4      1008         0    32       1009
b'102'      13      1750         0    66       1753
no_bat     564         0         0     2      12969

In [40]:
df_feeder.drop(['signal', 'bat_id_2', 'bat_id_1'], axis=1, inplace=True)

In [41]:
df_feeder = pd.DataFrame(df_feeder)

In [42]:
df_feeder # pump = pump+no pump activity, condition = all activity

        pump  condition
feeder
b'101'    32       1009
b'102'    66       1753
no_bat     2      12969

In [43]:
df_sum =df_feeder.sum()

In [44]:
df_sum['pump']

100

In [45]:
df_feeder['choise proportion'] = df_feeder['pump']/df_sum['pump']

In [46]:
df_feeder

        pump  condition  choise proportion
feeder
b'101'    32       1009               0.32
b'102'    66       1753               0.66
no_bat     2      12969               0.02

In [47]:
df.head()

                    signal bat_id_1  bat_id_2  feeder pump condition
time
2019-05-11 16:37:25    NaN      NaN       NaN  no_bat  NaN  L reward
2019-05-11 16:37:26   play      NaN       NaN  no_bat  NaN  L reward
2019-05-11 16:37:27    NaN      NaN       NaN  no_bat  NaN  L reward
2019-05-11 16:37:28    NaN      NaN       NaN  no_bat  NaN  L reward
2019-05-11 16:37:29    NaN      NaN       NaN  no_bat  NaN  L reward

In [48]:
df['condition'].fillna('unknown', inplace=True)

In [78]:
# mask1 = df['feeder'] == "b'1'"

In [79]:
# mask1.head()

time
2019-10-20 15:08:12    False
2019-10-20 15:08:22    False
2019-10-20 15:08:32    False
2019-10-20 15:08:42    False
2019-10-20 15:08:52    False
Name: feeder, dtype: bool

In [80]:
# mask1.head()

In [49]:
cond_r = df['condition'] == "R reward"

In [50]:
cond_r.head()

time
2019-05-11 16:37:25    False
2019-05-11 16:37:26    False
2019-05-11 16:37:27    False
2019-05-11 16:37:28    False
2019-05-11 16:37:29    False
Name: condition, dtype: bool

In [51]:
df_r = df.copy()[cond_r]

In [52]:
df_r.head()

                    signal bat_id_1  bat_id_2  feeder pump condition
time
2019-05-11 17:37:28    NaN      NaN       NaN  no_bat  NaN  R reward
2019-05-11 17:37:29   play      NaN       NaN  no_bat  NaN  R reward
2019-05-11 17:37:30    NaN      NaN       NaN  no_bat  NaN  R reward
2019-05-11 17:37:31    NaN      NaN       NaN  no_bat  NaN  R reward
2019-05-11 17:37:32    NaN      NaN       NaN  no_bat  NaN  R reward

In [53]:
cond_l = df['condition'] == "L reward"

In [54]:
df_l = df.copy()[cond_l]

In [55]:
df_l.head()

                    signal bat_id_1  bat_id_2  feeder pump condition
time
2019-05-11 16:37:25    NaN      NaN       NaN  no_bat  NaN  L reward
2019-05-11 16:37:26   play      NaN       NaN  no_bat  NaN  L reward
2019-05-11 16:37:27    NaN      NaN       NaN  no_bat  NaN  L reward
2019-05-11 16:37:28    NaN      NaN       NaN  no_bat  NaN  L reward
2019-05-11 16:37:29    NaN      NaN       NaN  no_bat  NaN  L reward

In [56]:
df_feeder_lcond = df_l.groupby('feeder').count()
df_feeder_lcond.drop(['signal'], axis=1, inplace=True)
lcond_sum =df_feeder_lcond.sum()
df_feeder_lcond['choise proportion'] = df_feeder_lcond['pump']/lcond_sum['pump']

In [57]:
df_feeder_lcond

        bat_id_1  bat_id_2  pump  condition  choise proportion
feeder
b'101'       834         0    24        835           0.387097
b'102'       801         0    36        802           0.580645
no_bat         0         0     2       6982           0.032258

In [58]:
df_feeder_rcond = df_r.groupby('feeder').count()
df_feeder_rcond.drop(['signal'], axis=1, inplace=True)
rcond_sum =df_feeder_rcond.sum()
df_feeder_rcond['choise proportion'] = df_feeder_rcond['pump']/rcond_sum['pump']

In [59]:
df_feeder_rcond

        bat_id_1  bat_id_2  pump  condition  choise proportion
feeder
b'101'       174         0     8        174           0.210526
b'102'       949         0    30        951           0.789474
no_bat         0         0     0       5987           0.000000