In [20]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import matplotlib.dates as md
import matplotlib.patches as mpatches

%matplotlib inline

In [21]:
df = pd.read_csv('2019-11-15.csv')

In [3]:
# df.drop(['signal','pump'], axis=1, inplace=True)

In [22]:
df['time'] = df['Unnamed: 0']

In [4]:
# df_clean = df.dropna(subset=['condition', 'feeder'])

In [23]:
df.index = pd.to_datetime(df['time'])

In [24]:
df.drop(['Unnamed: 0', 'time'], axis=1, inplace=True)

In [27]:
df['bat1_id'].fillna (method= 'ffill', limit= 10, inplace= True)

In [29]:
df['bat2_id'].fillna (method= 'ffill', limit= 10, inplace= True)

In [25]:
df.head()

,signal,bat1_id,bat1_loc,bat1_condition,pump_1,pump_2,bat2_id,bat2_loc,bat2_condition
time,,,,,,,,,
2019-11-14 16:10:16,play,NaN,NaN,equal reward,NaN,NaN,NaN,NaN,equal reward
2019-11-14 16:10:17,NaN,NaN,NaN,equal reward,NaN,NaN,NaN,NaN,equal reward
2019-11-14 16:10:18,NaN,NaN,NaN,equal reward,NaN,NaN,NaN,NaN,equal reward
2019-11-14 16:10:19,NaN,NaN,NaN,equal reward,NaN,NaN,NaN,NaN,equal reward
2019-11-14 16:10:20,NaN,NaN,NaN,equal reward,NaN,NaN,NaN,NaN,equal reward

In [30]:
df.to_csv ('fillna_test_15_11_19.csv')